<footer class="bg-dark pt-5 pt-lg-6 pb-4">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 col-lg-auto mr-auto mb-5 mb-lg-0">
        <div class="avatar">
          <img src="assets/img/logo.png" class="avatar-img rounded" alt="...">
        </div>
      </div>
      <div class="col-12 col-lg-2 mb-5 mb-lg-0">
        <h6 class="text-uppercase text-secondary mb-2">
          Products
        </h6>
        <nav class="nav flex-column">
          <a class="nav-link pl-0" href="download.html">Download</a>
          <a class="nav-link pl-0" href="#">Nav items</a>
        </nav>
      </div>
      <div class="col-12 col-lg-2 mb-5 mb-lg-0">
        <h6 class="text-uppercase text-secondary mb-2">
          Resources
        </h6>
        <nav class="nav flex-column">
          <a class="nav-link pl-0" href="" title="Get answers at the help centre">Help Centre</a>
          <a class="nav-link pl-0" href="">Security audits</a>
          <a class="nav-link pl-0" href="" target="_blank">Twitter</a>
          <a class="nav-link pl-0" href="" target="_blank">Discord</a>
          <a class="nav-link pl-0" href="" target="_blank">Telegram</a>
          <a class="nav-link pl-0" href="" target="_blank">Github</a>
          <a class="nav-link pl-0" href="" target="_blank">Medium</a>
        </nav>
      </div>
      <div class="col-12 col-lg-2 mb-5 mb-lg-0">
        <h6 class="text-uppercase text-secondary mb-2">
          Company
        </h6>
        <nav class="nav flex-column">
          <a class="nav-link pl-0" href="about.html">About</a>
          <a class="nav-link pl-0" href="">Careers</a>
          <a class="nav-link pl-0" href="">Terms</a>
          <a class="nav-link pl-0" href="mailto:hello@peakdefi.com">hello@peakdefi.com</a>
        </nav>
      </div>
    </div>
    <!-- Divider -->
    <hr class="my-4 my-lg-3">
    <div class="row justify-content-center justify-content-lg-between">
      <div class="col-auto mb-4 mb-lg-0">
        <span class="text-secondary">© 2020 <a class="text-secondary" href="">Peak Tech.</a></span>
      </div>
      <div class="col-auto mb-4 mb-lg-0">
        <div class="btn-group dropup">
          <button type="button" class="btn btn-link dropdown-toggle p-0 d-flex align-items-center text-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Change region
          </button>
          <div class="dropdown-menu">
            <a href="" class="dropdown-item">de: Deutsch (German)</a>
            <a href="" class="dropdown-item">en: English</a>
            <a href="" class="dropdown-item">es: Español (Spanish)</a>
            <a href="" class="dropdown-item">fr: Français (French)</a>
            <a href="" class="dropdown-item">hr: Hrvatski (Croatian)</a>
            <a href="" class="dropdown-item">it: Italiana (Italian)</a>
            <a href="" class="dropdown-item">ja: 日本 (Japanese)</a>
            <a href="" class="dropdown-item">ko: 한국어 (Korean)</a>
            <a href="" class="dropdown-item">zh: 普通话 (Mandarin)</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
