<footer class="bg-dark pt-5 pt-lg-6 pb-4">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 col-lg-auto mr-auto mb-5 mb-lg-0">
        <div class="avatar mb-4">
          <img src="assets/img/logo.png" class="avatar-img rounded" alt="...">
        </div>
        <a class="btn btn-block btn-secondary rounded-xl lift" href="https://ethereum.org/" target="_blank"><img class="mr-2" src="assets/img/eth-diamond-rainbow.png" height="24" alt="">Build on Ethereum</a>
        <a class="btn btn-block btn-secondary rounded-xl lift" href="https://solidity.readthedocs.io/en/v0.7.4/" target="_blank"><img class="mr-2" src="assets/img/solidity-logo.svg" height="24" alt="">Crafted with Solidity</a>
      </div>
      <div class="col-12 col-lg-2 mb-5 mb-lg-0">
        <h6 class="text-uppercase text-secondary mb-2">
          Products
        </h6>
        <nav class="nav flex-column">
          <a class="nav-link text-white pl-0" href="download.html">Wallet</a>
        </nav>
      </div>
      <div class="col-12 col-lg-2 mb-5 mb-lg-0">
        <h6 class="text-uppercase text-secondary mb-2">
          Resources
        </h6>
        <nav class="nav flex-column">
          <a class="nav-link text-white pl-0" href="" title="Get answers at the help centre">Help Center</a>
          <a class="nav-link text-white pl-0" href="">Security audits</a>
        </nav>
      </div>
      <div class="col-12 col-lg-2 mb-5 mb-lg-0">
        <h6 class="text-uppercase text-secondary mb-2">
          Company
        </h6>
        <nav class="nav flex-column">
          <a class="nav-link text-white pl-0" href="about.html">About</a>
          <a class="nav-link text-white pl-0" href="mailto:hello@peakdefi.com">hello@peakdefi.com</a>
        </nav>
      </div>
    </div>
    <!-- Divider -->
    <hr class="my-4 my-lg-3">
    <div class="row justify-content-center justify-content-lg-between">
      <div class="col-auto mb-4 mb-lg-0 d-flex align-items-center">
        <span class="text-secondary">© 2020 <a class="text-secondary" href="">Peak Tech.</a></span>
      </div>
      <div class="col-auto mb-4 mb-lg-0">
        <nav class="nav flex-row">
          <a class="nav-link text-white pl-0" href="https://t.me/peakdefi_official" target="_blank"><i class="fe fe-send"></i></a>
          <a class="nav-link text-white pl-0" href="https://twitter.com/peakdefi" target="_blank"><i class="fe fe-twitter"></i></a>
          <a class="nav-link text-white pl-0" href="https://medium.com/@PeakDeFi" target="_blank"><img src="assets/img/Medium-Symbol-White-RGB@1x.png" width="24" alt=""></a>
          <a class="nav-link text-white pl-0" href="https://github.com/peakdefi" target="_blank"><i class="fe fe-github"></i></a>
        </nav>
      </div>
      
    </div>
  </div>

</footer>
